@mixin flexStyle($flexDirection: row, $alignItems: center, $justifyContent: center ) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}